#box-model {
    width: 250px;
    height: 200px;
    padding: 60px;
    box-sizing: border-box;
    border: 5px solid #333;
    border-radius: 25px;
    margin: 50px;
    outline: 10px solid #12aa53;
    background-color: #00ffff;
}

.title {
    background-color: #fff;
    color: #333;
    border: none;
}

