/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* p {
    color: blueviolet;
} */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 10px;
}

#exclusive-tittle {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#outro-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */

.color-name {
    color: rgba(231, 15, 58, 0.844);
}

/* Hex */

.hex {
    color: #55a398;
}

.hex-2 {
    color: #12a333;
}

/* Aprofudando em Hex */

.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */

.rgb {
    color: rgb(255, 0, 0);
}

.mix-rgb {
    color: rgb(5, 55, 0);
}

/* rgba */

.rgba {
    color: rgb(255, 0, 0);
}

.mix-rgba {
    color: rgb(255, 0, 0, 0.5);
}

/* HSL */

.hsl {
    color: hsl(5, 20%, 50%);
}

.hsl-2 {
    color: hsl(40, 80%, 60%);
}

/* Background */

.bg {
    background-color: #333;
    color: yellow;
}

.bg-2 {
    background-color: #12a333;
    color: blue;
}

/* Background opacity */

.bg-opacity {
    background-color: #12a333;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #333;
    opacity: 0.8;
}

/* rgba com opacidade */

.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #333;
}

/* BG Image */

.bg-image {
    background-image: url("../img/nature.jpg");
    color: #fff;
}

/* Centralizar imagem bg */

.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 500px;
    background-image: url("../img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura e Altura */

.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: #000;
}

/* Padding */

.without-padding,
.padding {
    background-color: #000;
    color: #fff;
}

.padding {
    padding: 20px;
}

/* Padding individual */

.padding-individual {
    background-color: #000;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand paddin */

.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}


.shorthand-padding-2 {
    background-color: #444;
    padding: 10px 20px;
}

/* Padding com width */

.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */

.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 5px dotted blue;
    padding: 20px;
}

/* Border Individual */

.border-left {
    border-left: 5px solid #000;
    padding: 5px;
    background-color: #333;
}

.border-bottom {
    border-bottom: #000 5px double;
    background-color: #333;
    padding: 5px;
}

/* border-radius */

.rounded-p {
    border: 5px solid #000;
    background-color: #12a333;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.rounded-p-2 {
    background-color: #12a333;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
}

/* margin */

.margin {
    margin: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.margin-top {
    margin-top: 40px;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.margin-shorthand {
    margin: 0px 5px 8px 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

/* box model */

.box-model {
    width: 500px;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
    border: #000 solid 5px;
    border-radius: 25px;
    background-color: #12a333;
    color: #fff;
}

/* text-align */

.text-align {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    height: 250px;
    border: #000 solid 5px;
    background-color: #55a398;
}

/* Text Decoration */

.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: red;
}

/* Transformação de texto */

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* spacing */

.spacing {
    letter-spacing: 20px;
}

/* fontes */

.serif {
    font-family: Georgia;

}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: "Courier New";
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}